.game-area{
    margin-top: 20px;
    text-align: center;
}

.balloon-container{
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    border: 2px solid #ccc;
}

.balloon{
    position: absolute;
    bottom: 0;
    border-radius: 50% 50% 50% 50%;
    cursor: pointer;
    animation: rise 6s linear forwards;
    width: 90px;
    height: 80px;
    


}

@keyframes rise{
    0% {bottom: 0;}
    100% {bottom: 350px;}
}

.popped-joke {
    margin-top: 10px;
    font-weight: bold;
    color: green;

}